body {
  background-color: #2d3436;
  background-image: radial-gradient(315deg, #2d3436 0%, #000000 74%);
  color: white;
}

.App {
  text-align: center;
}

img {
  width: 50em;
  margin: 10em 0 10em 0;
  border: 2px solid white;
}

div p {
  font-size: 35px;
  margin: 10em 0 10em 0;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.odd {
  display: flex;
  justify-content: space-evenly;
}

.even {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}